.navbar {
  display: flex;
  justify-content: center;
  column-gap: 2em;
  align-items: center;
  background-color: #171923;
  padding: 1em 0 1em 0;
  font-size: 16px;
  border-bottom: 2px solid darkslategray;
  margin-bottom: 2em;
}

.navbar a {
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px;
  color: white;
}

.navbar button {
  padding: 8px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 10px;
  color: white;
  font: inherit;
}

.navbar a:hover,
.navbar button:hover {
  border: 2px solid darkslategray;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}
